name: Publish

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  publish:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: macos-13
            target: x86_64-apple-darwin
          - host: macos-latest
            target: aarch64-apple-darwin
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
          - host: ubuntu-latest
            target: x86_64-unknown-linux-musl
          - host: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - host: windows-latest
            target: x86_64-pc-windows-gnu
    name: ${{ matrix.settings.target }}
    runs-on: ${{ matrix.settings.host }}
    steps:
      - uses: actions/checkout@v6
      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.settings.target }}
      - name: Build
        run: cargo build --target=${{ matrix.settings.target }} --release
      - name: Pack
        if: matrix.settings.host != 'windows-latest'
        run: |
          mkdir dist
          cp ./target/${{ matrix.settings.target }}/release/pnpm-shell-completion dist/
          cp ./pnpm-shell-completion.plugin.zsh dist/
          cp ./install.zsh dist/
          cp ./pnpm.fish dist/
          cp ./install.fish dist/
          cp ./README.md dist/
          cp ./LICENSE dist/
          cd dist
          zip ../pnpm-shell-completion_${{ matrix.settings.target }}.zip ./*
          tar -zcvf ../pnpm-shell-completion_${{ matrix.settings.target }}.tar.gz *
          ls -l
          cd ..
      - name: Pack
        shell: pwsh
        run: |
          if (Test-Path dist) {
            Remove-Item -Recurse -Force dist
          }
          New-Item -ItemType Directory dist
          if (Test-Path .\target\${{ matrix.settings.target }}\release\pnpm-shell-completion.exe) {
            Copy-Item .\target\${{ matrix.settings.target }}\release\pnpm-shell-completion.exe dist
          }
          elseif (Test-Path .\target\${{ matrix.settings.target }}\release\pnpm-shell-completion) {
            Copy-Item .\target\${{ matrix.settings.target }}\release\pnpm-shell-completion dist
          }
          Copy-Item .\pnpm-shell-completion.ps1 dist
          Copy-Item .\README.md dist
          Copy-Item .\LICENSE dist
          Compress-Archive "dist\*" pnpm-shell-completion_pwsh_${{ matrix.settings.target }}.zip
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            pnpm-shell-completion_*.zip
            pnpm-shell-completion_*.tar.gz
